/*
//////////////////////////////////////////////////
	List
	all stylus for list you foud here
//////////////////////////////////////////////////
*/
	.list{
		/*
		==================================
			ITEMS
		==================================
		*/
			/*
			--------------------------------
				BLOCK
			--------------------------------
			*/
				&.list-items--block, .list-items--block{
					margin: 0;
					padding: 0;
					> .list-item{
						display: block;
					}
				}
			/*
			--------------------------------
				//BLOCK
			--------------------------------
			*/
			/*
			--------------------------------
				INLINE
			--------------------------------
			*/
				&.list-items--inlineblock, .list-items--inlineblock{
					margin: 0;
					padding: 0;
					> .list-item{
						display: inline-block;
					}
				}
			/*
			--------------------------------
				//INLINE
			--------------------------------
			*/
		/*
		==================================
			//ITEMS
		==================================
		*/
	}
/*
//////////////////////////////
	//List
/////////////////////////////
*/