/*
###########################################
	APP
###########################################
*/
	.app{
		&.contraste-1{
			.app-menu{
				background-color: #f1c40f;
				.app-controls{
					border-bottom: 1px solid #000;
					.app-control{
						color: #000;
					}
				}
				.options-blocks{
					.options-block{
						&:first-child{
							border-bottom: 1px solid #000;							
						}
						.options-block--title, .options-block--subtitle{
							color: #000;
						}
					}
				}
			}
			.app-screens{
				.app-screen{
					.app-controls{
						background-color: #000;
						color: #f1c40f;
					}
					&.screen-inicio, &.screen-topicos{
						background-color: #000;
						color: #f1c40f;
					}
					&.screen-content{
						.app-screen-content{
							.header{
								background-color: #000;
								color: #f1c40f;
							}							
						}
					}
				}
			}
		}
		&.contraste-2{
			.app-menu{
				background-color: #000;
				color: #f1c40f;
				.app-controls{
					border-bottom: 1px solid #f1c40f;
					.app-control{
						color: #f1c40f;
					}
				}
				.options-blocks{
					.options-block{
						.options-block--title, .options-block--subtitle{
							color: #f1c40f;
						}
					}
				}
			}
			.app-screens{
				.app-screen{
					.app-controls{
						background-color: #f1c40f;
						color: #000;
					}
					&.screen-inicio{
						background-color: #f1c40f;
						color: #000;
					}
				}
			}
		}
		&.font-1{
			.app-screens{
				.app-screen{
					.app-screen-content{
						.header{
							h2{
								font-size: 36px;
								span{
									font-size: 20px;
								}
							}						
						}
						.main{
							font-size: 18px;
						}						
					}
				}
			}
			.app-menu{
				.options-blocks{
					.options-block{
						.options-block--title{
							font-size: 20px;
						}
						.options-block--subtitle{
							font-size: 18px;
						}
					}
				}
			}
		}
		&.font-2{
			.app-screens{
				.app-screen{
					.app-screen-content{
						.header{
							h2{
								font-size: 38px;
								span{
									font-size: 22px;
								}
							}						
						}
						.main{
							font-size: 20px;
						}
					}
				}
			}
			.app-menu{
				.options-blocks{
					.options-block{
						.options-block--title{
							font-size: 22px;
						}
						.options-block--subtitle{
							font-size: 20px;
						}
					}
				}
			}
		}
		&.font-3{
			.app-screens{
				.app-screen{
					.app-screen-content{
						.header{
							h2{
								font-size: 40px;
								span{
									font-size: 24px;
								}
							}						
						}
						.main{
							font-size: 22px;
						}
					}
				}
			}
			.app-menu{
				.options-blocks{
					.options-block{
						.options-block--title{
							font-size: 24px;
						}
						.options-block--subtitle{
							font-size: 22px;
						}
					}
				}
			}
		}
		/*
		====================================
			CONTROLS
		====================================
		*/
			.app-controls{
				padding: 25px;
				.app-control{
					transition: all .25s;
					-webkit-transition: all .25s;
					-moz-transition: all .25s;
					-o-transition: all .25s;
					border: 0;
					border-radius: 50%;
					cursor: pointer;
					font-size: 24px;
					width: 36px;
					height: 36px;
					background-color: transparent;
					color: #FFF;
					&:hover{
						background-color: rgba(0,0,0,0.1);
					}
					&:active{
						outline: none;
						background-color: rgba(0,0,0,0.3);						
					}
				}
			}
		/*
		====================================
			//CONTROLS
		====================================
		*/
		/*
		====================================
			SCREENS
		====================================
		*/
			.app-screens{
				.app-screen{
					display: none;
					position: relative;
					&.active{
						display: block;
					}
					.app-controls{
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						background-color: #2980b9;
					}
					&.screen-topicos{
						background-color: #2980b9;
						color: #FFF;
						.topicos-links{
							a{
								transition: all .25s;
								-webkit-transition: all .25s;
								-moz-transition: all .25s;
								-o-transition: all .25s;
								display: block;
								color: inherit;
								text-decoration: none;
								padding: 10px 0;
								font-family: "Chivo", sans-serif;
								font-weight: 300;
								font-size: 14px;
								span{
									display: block;
									font-family: "Asul", sans-serif;
									font-size: 22px;
									font-weight: bold;
								}
								&:hover, &:focus{
									outline: none;
									padding-left: 10px;
									background-color: rgba(0,0,0,0.2);
								}
							}
						}
					}
					&.screen-content{
						.app-control{
							&.back{
								width: auto;
								border-radius: 2px;
								span{
									font-size: 14px;	
									text-transform: uppercase;
									display: inline-block;
									vertical-align: middle;
									margin-left: 10px;
									font-family: "Asul", sans-serif;								
								}
								.fa{
									display: inline-block;
									vertical-align: middle;	
									font-size: 24px;
								}
							}
						}
						.app-screen-content{
							padding: 25px 0;
							.header{
								padding: 0 25px;
								padding-top: 80px;
								padding-bottom: 25px;
								background-color: #2980b9; 
								color: #FFF;
							}
							.main{
								padding: 0 25px;
								color: rgba(0,0,0,0.8);
								p{
									line-height: 24px;
								}
							}
						}
					}
					&.screen-inicio{
						background-color: #2980b9;
						color: #FFF;
						.bottom{
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							padding: 25px;
							.brands{
								margin-bottom: 30px;
								.list-item{
									vertical-align: middle;
									margin-right: 5px;
								}
							}
							button{
								transition: all .25s;
								-webkit-transition: all .25s;
								-moz-transition: all .25s;
								-o-transition: all .25s;
								display: block;
								cursor: pointer;
								border-radius: 2px;
								border: 0;
								background-color: #FFF;
								width: 100%;
								font-size: 18px;
								height: 50px;
								color: rgba( 0, 0, 0, 0.8);
								&:hover{
									box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
								}
								&:active{
									box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
								}
							}
						}
					}
					.app-screen-content{
						padding: 0 25px;
						.header{
							padding-top: 80px;
							margin-bottom: 30px;
							h2{
								font-family: "Asul", sans-serif;
								font-size: 32px;
								margin: 0;
								line-height: 36px;
								span{
									display: block;
									font-weight: normal;
									font-size: 18px;
								}
							}
							p{
								font-weight: 300;
								font-size: 14px;
								margin: 0;
								margin-top: 10px;
							}
						}
						.main{
							font-size: 16px;
							h3{
								font-size: 1.5em;
							}
							p{
								font-size: 1em;
								font-weight: 300;
								strong{
									font-weight: bold;
								}
							}
							.main-nav{
								border-top: 1px solid #ccc;
								.main-nav-dots{
									margin: 15px 0;
									text-align: center;
									.dot{
										display: inline-block;
										width: 10px;
										height: 10px;
										border-radius: 50%;
										vertical-align: middle;
										background-color: rgba(0,0,0,0.2);
										&.active{
											width: 15px;
											height: 15px;
											background-color: #2980b9;
										}
									}
								}
								.main-nav-controls{
									.btn{
										font-size: 18px;
										text-transform: uppercase;
										min-width: 130px;
									}
								}
							}
						}
					}
				}
			}
		/*
		====================================
			//SCREENS
		====================================
		*/
		/*
		====================================
			MENU
		====================================
		*/
			.app-menu{
				transition: 0.25s;
				position: fixed;
				z-index: 6;
				top: 0;
				right: -100%;
				padding: 25px;
				box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
				width: 280px;
				height: 100%;
				background-color: #fff;
				&.open{
					right: 0;
				}
				.app-controls{
					padding-left: 0;
					padding-right: 0;
					padding-top: 0;
					border-bottom: 1px solid #ccc;
					.app-control{
						color: #2980b9;
					}
				}
				.options-blocks{
					.options-block{
						padding: 15px 0;
						.options-block--title{
							font-family: "Asul", sans-serif;
							font-size: 18px;
							margin: 0;
							margin-bottom: 10px;
							color: #2980b9;
						}
						&:first-child{
							border-bottom: 1px solid #ccc;
						}
						.app-link{
							transition: all 0.25s;
							-webkit-transition: all 0.25s;
							-moz-transition: all 0.25s;
							-o-transition: all 0.25s;
							color: rgba(0, 0, 0, 0.8);
							padding: 10px 0;
							display: block;
							text-decoration: none;
							&:hover, &:focus{
								background-color: rgba(0, 0, 0, 0.1);
								padding-right: 7px;								
							}
							&:active{
								background-color: rgba(0, 0, 0, 0.2);
							}
						}
						.options-block--subtitle{
							font-family: "Chivo", sans-serif;
							font-size: 16px;
							margin: 0;
							margin-bottom: 5px;
							color: rgba(0,0,0,0.8);
						}
						.options-block--items{
							.app-control{
								width: 36px;
								height: 36px;
							}
							&.fonts{
								.app-control{
									font-size: 18px;
									font-weight: bold;
									font-family: "Asul", sans-serif;
								}
							}
						}
						.options-block--section{
							margin-bottom: 10px;
							.app-control{
								transition: all .25s;
								-webkit-transition: all .25s;
								-moz-transition: all .25s;
								-o-transition: all .25s;
								cursor: pointer;
								width: 36px;
								height: 36px;
								border: 0;
								border-radius: 50%;
								background-color: transparent;
								span{
									line-height: 36px;
									img{
										display: block;
									}
								}
								&:hover{
									background-color: rgba(0,0,0,0.1);
								}
								&:active{
									background-color: rgba(0,0,0,0.3);
								}
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
					}	
				}
			}
		/*
		====================================
			//MENU
		====================================
		*/
	}
/*
###########################################
	//APP
###########################################
*/