/*
###############################
	TYPOGRAPH
###############################
*/
	@family: 'Chivo', sans-serif;
	@title:'Asul', sans-serif;
	
	/*
	===============================
		Default
	===============================
	*/
		body{
			font-family: @family;
		}
		h1{
			font-family: @title;
		}
	/*
	===============================
		//Default
	===============================
	*/

/*
###############################
	//TYPOGRAPH
###############################
*/