@media only screen and (min-width: 1200px){
	.app{
		.app-screens{
			.app-screen{
				&.screen-content{
					.app-controls{
						z-index: 5;
						width: 20%;					
					}
					.app-screen-content{
						.header{
							position: absolute;
							z-index: 3;
							top: 0;
							left: 0;
							width: 20%;		
							height: 100%;			
						}	
						.main{
							position: absolute;
							right: 0;
							top: 0;
							padding: 25px;
							width: 80%;
							height: 100%;
							overflow: auto;
						}				
					}
				}
			}
		}
	}
}